
  <table class="front" summary="For non-signed in users">
    <tr>
      <td class="main">
        <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
      </td>
    </tr>
  </table>
